---
- name: Install LVM2 commands as needed
  package:
    name: lvm2
    state: present
  when: device_type == "lvm"

- name: Make sure LV exists
  lvol:
    lv: "{{ device_name }}"
    vg: "{{ lvm_vg }}"
    size: "{{ size }}"
    state: "{{ state }}"
    force: yes
    shrink: no
  when: device_type == "lvm" and lvm_vg
